.carousel-item{
    height: 700px;
    display: flex;
    justify-content: center;
}

.carousel-item img{
    width: 100%;
}


.tabImg{
    max-height: 700px;
}

.about-tabs-container{
    margin-top: 20px;
}